@use './vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.body {
    margin: 0;
    padding: 0;
    background-color: vars.$color-claro;
    font-family: vars.$fuente-texto;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: vars.$color-letra;
}

button {
    width: fit-content;
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
    color: vars.$color-letra;
    background-color: vars.$color-amarillo-o;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
}

h1 {
    font-family: vars.$fuente-titulo;
    font-size: 3rem;
    text-align: center;
    margin: 0.5rem;
    font-weight: bold;
}

h2 {
    font-family: vars.$fuente-titulo;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    margin: 1rem;
}

h3 {
    font-family: vars.$fuente-titulo;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}