@use './vars';

.index {
    p {
        text-indent: 2rem;
        text-align: justify;
    }
}

.index__quienesSomos {
    width: 100%;
    padding: 10rem 15rem 10rem 15rem;
    background-color: vars.$color-secundario;
    font-weight: bold;
}

.index__card {
    margin: auto;
    height: 50rem;
    width: 25rem;
    background-color: vars.$color-principal;
    border: 1px solid vars.$color-secundario;
    border-radius: 0.25rem;

    &__top {
        height: 30rem;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
            align-self: center;
        }
    }

    &__body {
        height: 20rem;
        font-size: 1.5rem;
        position: relative;
        
        &__detalles {
            margin-top: 1rem;
            border-top: 1px solid vars.$color-secundario;
            height: fit-content;
            padding: 0 1rem 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                text-align: center;
            }
        }

        &__info {
            border-top: 1px solid vars.$color-secundario;
            text-align: right;
            height: 2.5rem;
            width: 100%;
            position: absolute;
            bottom: 1.5rem;
            right: 0;

            a {
                padding: 1rem;
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }
}

.index__servicios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
}

.carousel {
    width: 30rem;
}

.carousel__boton {
    background-color: vars.$color-oscuro;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.carousel-control-prev {
        transform: translateX(-40px);
}

.carousel-control-next {
        transform: translateX(40px);
}

.index__servicios__radio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    div {
        margin: 1rem;
        padding: 1rem;
        background-color: vars.$color-principal;

        p {
            text-align: center;
        }
    }
}

.index__clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: vars.$color-amarillo-c;
    padding: 8rem;

    h2 {
        text-align: left;
    }

    &__testimonio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: vars.$color-principal;
    
        &__contenedor {
            width: 10rem;
            height: 7rem;
            margin: 1rem;
    
            img {
                width: 100%;
            }
        }
    }

    &__newsletter {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            background-color: vars.$color-principal;
            border: none;
            border-radius: 1rem;
            padding: 0.5rem;
            font-size: 2rem;
            width:60rem;
        }
    }
}