@use './vars';

.institucional {
    padding: 1rem;

    &__texto {
        text-align: justify;
        margin: 1rem;
        text-indent: 2rem;
    }

    &__alianzas {
        background-color: vars.$color-principal;
        padding: 1rem;

        h3 {
            font-size: 2.5rem;
        }

        &__container {
            margin: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &__card {
                height: 6rem;
                width: 6rem;
                position: relative;
                text-align: center;

                img {
                    width: 100%;
                    height: 100%;
                    display: inline;
                    opacity: 0.6;
                }

                p {
                    font-weight: bold;
                    display: inline;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }
    }

    &__video {
        display: none;
    }

    &__staff {
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

.staff__card {
    height: 33rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem;

    &__top {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 0;
        
        img {
            width: 100%;
        }
    }

    &__bot {
        position: absolute;
        top: 21rem;
        p {
            text-align: center;
        }
    }
}