$color-principal: #d9d9d9;
$color-secundario: #7c7a7a;
$color-claro: #ffffff;
$color-oscuro: #726d6d;
$color-amarillo-c: #ead15b;
$color-amarillo-o: #e5c532;
$color-letra: #000000;
$fuente-titulo: "Kanit", sans-serif;
$fuente-texto: "Open Sans", sans-serif;
